<section class="container add-thoughts ff-inter">
  <header class="header">
    <h2>Adicione um<br />pensamento novo:</h2>
  </header>
  <form>
    <label for="thought">Pensamento</label>
    <textarea
      class="textarea"
      name="thought"
      id="thought"
      placeholder="Digite o pensamento"
      [value]="thought.content"
    ></textarea>
    <label for="author">Autoria</label>
    <input
      type="text"
      class="input"
      id="author"
      name="author"
      placeholder="Informe a autoria ou fonte"
      [value]="thought.author"
    />
    <label for="model">Selecione o modelo do card</label>
    <div class="container-radio">
      <div class="radio-model">
        <label for="model1">
          <input type="radio" id="model1" value="model1" name="model-card" />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 1</span>
        </label>
        Prévia:
        <div class="model model1 ff-roboto-mono">
          <img src="../../../../assets/images/model1.png" alt="Aspas azuis" />
          <p class="content">{{ thought.content }}</p>
          <p class="author">
            <strong>{{ thought.author }}</strong>
          </p>
        </div>
      </div>
      <div class="radio-model">
        <label for="model2">
          <input type="radio" id="model2" value="model2" name="model-card" />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 2</span>
        </label>
        Prévia:
        <div class="model model2 ff-roboto-mono">
          <img
            src="../../../../assets/images/model2.png"
            alt="Aspas azul claro"
          />
          <p class="content">{{ thought.content }}</p>
          <p class="author">
            <strong>{{ thought.author }}</strong>
          </p>
        </div>
      </div>
      <div class="radio-model">
        <label for="model3">
          <input type="radio" id="model3" value="model3" name="model-card" />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 3</span>
        </label>
        Prévia:
        <div class="model model3 ff-roboto-mono">
          <img src="../../../../assets/images/model3.png" alt="Aspas verdes" />
          <p class="content">{{ thought.content }}</p>
          <p class="author">
            <strong>{{ thought.author }}</strong>
          </p>
        </div>
      </div>
    </div>
    <div class="actions">
      <button (click)="addThought()" class="button">Salvar</button>
      <button (click)="cancelThought()" class="button">Cancelar</button>
    </div>
  </form>
</section>
