@use '../../../misc';

footer {
  background-image: url(/assets/images/background-footer.png);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-template-areas: 'CopyrightText LogoFooter .';
  align-items: center;
  padding: misc.p2r(16px) misc.p2r(32px);

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column-reverse;
    gap: misc.p2r(16px);
  }

  small {
    color: misc.$white;
  }
}

.CopyrightText {
  justify-self: center;
  grid-area: CopyrightText;
}

.FooterLogo {
  justify-self: center;
  grid-area: LogoFooter;
}
