<div
  class="thought {{ thought.model }} ff-roboto-mono"
  [ngClass]="widthThought()"
>
  <img src="/assets/images/{{ thought.model }}.png" alt="Aspas coloridas" />
  <p class="content">{{ thought.content }}</p>
  <p class="author">{{ thought.author }}</p>
  <div class="actions">
    <button class="edit-button">
      <img src="/assets/images/icons/edit-icon.png" alt="Ícone de editar" />
    </button>
    <button class="delete-button">
      <img src="/assets/images/icons/delete-icon.png" alt="Ícone de excluir" />
    </button>
  </div>
</div>
