<div
  class="thought {{ thought.model }} ff-roboto-mono"
  [ngClass]="widthThought()"
>
  <img src="/assets/images/{{ thought.model }}.png" alt="Aspas coloridas" />
  <p class="content">{{ thought.content }}</p>
  <p class="author">{{ thought.author }}</p>
  <div class="actions">
    <button class="favorite-button" (click)="updateFavorite()">
      <img
        src="/assets/images/icons/{{ changeFavoriteIcon() }}-favorite-icon.png"
        alt="Ícone favorito {{ changeFavoriteIcon() }}"
      />
    </button>
    <button
      class="edit-button"
      routerLink="/thoughts/edit-thought/{{ thought.id }}"
    >
      <img src="/assets/images/icons/edit-icon.png" alt="Ícone de editar" />
    </button>
    <button
      class="delete-button"
      routerLink="/thoughts/delete-thought/{{ thought.id }}"
    >
      <img src="/assets/images/icons/delete-icon.png" alt="Ícone de excluir" />
    </button>
  </div>
</div>
