@use '../../../../misc';

.board {
  display: flex;
  flex-wrap: wrap;
  gap: misc.p2r(32px);
  justify-content: center;
  align-items: center;
  margin: misc.p2r(16px) 0 misc.p2r(32px);
}

.d-flex {
  display: flex;
  flex-direction: column;
  gap: misc.p2r(32px);
}

.no-thoughts {
  text-align: center;
  padding: misc.p2r(32px) 0 misc.p2r(80px);
}
